@()

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="100"
   height="225"
   id="svg4256"
   version="1.1"
   inkscape:version="0.48.4 r9939"
   sodipodi:docname="list.svg"
   inkscape:export-filename="/home/ericfinster/Blog/ericfinster.github.io/source/images/hdts/list.png"
   inkscape:export-xdpi="90"
   inkscape:export-ydpi="90">
  <defs
     id="defs4258" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="2.8567114"
     inkscape:cx="51.400211"
     inkscape:cy="119.53878"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="1855"
     inkscape:window-height="1056"
     inkscape:window-x="65"
     inkscape:window-y="24"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata4261">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-827.36218)">
    <rect
       style="fill:#e6e6e6;fill-opacity:1;stroke:#969696;stroke-width:1;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect4355-18"
       width="18.344328"
       height="18.344311"
       x="50.788887"
       y="925.19409"
       ry="5.8323956" />
    <path
       sodipodi:type="arc"
       style="fill:#969696;fill-opacity:1;stroke:#969696;stroke-width:2.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="path5185-2"
       sodipodi:cx="9.0235853"
       sodipodi:cy="184.13094"
       sodipodi:rx="2.1781068"
       sodipodi:ry="2.1781068"
       d="m 11.201692,184.13094 a 2.1781068,2.1781068 0 1 1 -4.3562135,0 2.1781068,2.1781068 0 1 1 4.3562135,0 z"
       transform="translate(51.162804,749.79217)" />
    <rect
       style="fill:#e6e6e6;fill-opacity:1;stroke:#969696;stroke-width:1;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect4355-0"
       width="18.344328"
       height="18.344311"
       x="51.036415"
       y="858.60681"
       ry="5.8323956" />
    <rect
       style="fill:#e6e6e6;fill-opacity:1;stroke:#969696;stroke-width:1;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="rect4355"
       width="18.344328"
       height="18.344311"
       x="50.850773"
       y="980.26526"
       ry="5.8323956" />
    <path
       sodipodi:type="arc"
       style="fill:#969696;fill-opacity:1;stroke:#969696;stroke-width:2.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="path5185"
       sodipodi:cx="9.0235853"
       sodipodi:cy="184.13094"
       sodipodi:rx="2.1781068"
       sodipodi:ry="2.1781068"
       d="m 11.201692,184.13094 a 2.1781068,2.1781068 0 1 1 -4.3562135,0 2.1781068,2.1781068 0 1 1 4.3562135,0 z"
       transform="translate(51.162804,683.86513)" />
    <path
       sodipodi:type="arc"
       style="fill:#969696;fill-opacity:1;stroke:#969696;stroke-width:2.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="path5185-5"
       sodipodi:cx="9.0235853"
       sodipodi:cy="184.13094"
       sodipodi:rx="2.1781068"
       sodipodi:ry="2.1781068"
       d="m 11.201692,184.13094 a 2.1781068,2.1781068 0 1 1 -4.3562135,0 2.1781068,2.1781068 0 1 1 4.3562135,0 z"
       transform="translate(51.162804,804.81508)" />
    <path
       style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="M 60.2964,1042.7677 60.076378,844.0892"
       id="path5123-6"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cc" />
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="28.120514"
       y="1013.0412"
       id="text5266"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan5268"
         x="28.120514"
         y="1013.0412"
         style="font-size:12px">3</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="28.266998"
       y="958.99982"
       id="text5266-3"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan5268-6"
         x="28.266998"
         y="958.99982"
         style="font-size:12px">1</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="28.360748"
       y="896.21069"
       id="text5266-3-1"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan5268-6-9"
         x="28.360748"
         y="896.21069"
         style="font-size:12px">2</tspan></text>
    <path
       sodipodi:type="arc"
       style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="path5185-7-9-8"
       sodipodi:cx="9.0235853"
       sodipodi:cy="184.13094"
       sodipodi:rx="2.1781068"
       sodipodi:ry="2.1781068"
       d="m 11.201692,184.13094 a 2.1781068,2.1781068 0 1 1 -4.3562135,0 2.1781068,2.1781068 0 1 1 4.3562135,0 z"
       transform="matrix(1.5105629,0,0,1.5105629,46.330356,614.05044)" />
    <path
       sodipodi:type="arc"
       style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="path5185-7-9-8-2"
       sodipodi:cx="9.0235853"
       sodipodi:cy="184.13094"
       sodipodi:rx="2.1781068"
       sodipodi:ry="2.1781068"
       d="m 11.201692,184.13094 a 2.1781068,2.1781068 0 1 1 -4.3562135,0 2.1781068,2.1781068 0 1 1 4.3562135,0 z"
       transform="matrix(1.5105629,0,0,1.5105629,46.330355,677.90455)" />
    <path
       sodipodi:type="arc"
       style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="path5185-7-9-8-9"
       sodipodi:cx="9.0235853"
       sodipodi:cy="184.13094"
       sodipodi:rx="2.1781068"
       sodipodi:ry="2.1781068"
       d="m 11.201692,184.13094 a 2.1781068,2.1781068 0 1 1 -4.3562135,0 2.1781068,2.1781068 0 1 1 4.3562135,0 z"
       transform="matrix(1.5105629,0,0,1.5105629,46.825405,730.76201)" />
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="12.103912"
       y="1031.0751"
       id="text7170"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan7172"
         x="12.103912"
         y="1031.0751"
         style="font-size:10px">cons</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="12.103912"
       y="911.70923"
       id="text7170-1"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan7172-1"
         x="12.103912"
         y="911.70923"
         style="font-size:10px">cons</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="23.832428"
       y="851.59113"
       id="text7170-9"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan7172-4"
         x="23.832428"
         y="851.59113"
         style="font-size:10px">nil</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="24.765045"
       y="870.3551"
       id="text7170-3-2"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan7172-5-3"
         x="24.765045"
         y="870.3551"
         style="font-size:10px">pt</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="24.765045"
       y="937.42395"
       id="text7170-3-2-1"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan7172-5-3-8"
         x="24.765045"
         y="937.42395"
         style="font-size:10px">pt</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="24.765045"
       y="991.47119"
       id="text7170-3-2-1-5"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan7172-5-3-8-9"
         x="24.765045"
         y="991.47119"
         style="font-size:10px">pt</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="11.832447"
       y="973.87939"
       id="text7170-8"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan7172-2"
         x="11.832447"
         y="973.87939"
         style="font-size:10px">cons</tspan></text>
  </g>
</svg>
