@()

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="100"
   height="100"
   id="svg4256"
   version="1.1"
   inkscape:version="0.48.4 r9939"
   sodipodi:docname="point.svg"
   inkscape:export-filename="/home/ericfinster/Blog/ericfinster.github.io/source/images/hdts/point.png"
   inkscape:export-xdpi="90"
   inkscape:export-ydpi="90">
  <defs
     id="defs4258" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="9.09"
     inkscape:cx="50"
     inkscape:cy="50"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="1855"
     inkscape:window-height="1056"
     inkscape:window-x="65"
     inkscape:window-y="24"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata4261">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-952.36218)">
    <text
       xml:space="preserve"
       style="font-size:12px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="55.665569"
       y="1017.9286"
       id="text3758"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan3760"
         x="55.665569"
         y="1017.9286"
         style="font-size:16px">4</tspan></text>
    <path
       sodipodi:type="arc"
       style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="path5185-7-9-8"
       sodipodi:cx="9.0235853"
       sodipodi:cy="184.13094"
       sodipodi:rx="2.1781068"
       sodipodi:ry="2.1781068"
       d="m 11.201692,184.13094 a 2.1781068,2.1781068 0 1 1 -4.3562135,0 2.1781068,2.1781068 0 1 1 4.3562135,0 z"
       transform="matrix(1.5105629,0,0,1.5105629,35.764246,721.30553)" />
  </g>
</svg>
