@()

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="500"
   height="400"
   id="svg4256"
   version="1.1"
   inkscape:version="0.48.4 r9939"
   sodipodi:docname="3tree.svg"
   inkscape:export-filename="/home/ericfinster/Blog/ericfinster.github.io/source/images/hdts/3tree.png"
   inkscape:export-xdpi="90"
   inkscape:export-ydpi="90">
  <defs
     id="defs4258">
    <filter
       id="filter4064"
       inkscape:label="Drop Shadow"
       color-interpolation-filters="sRGB">
      <feFlood
         id="feFlood4066"
         flood-opacity="0.5"
         flood-color="rgb(0,0,0)"
         result="flood" />
      <feComposite
         id="feComposite4068"
         in2="SourceGraphic"
         in="flood"
         operator="in"
         result="composite1" />
      <feGaussianBlur
         id="feGaussianBlur4070"
         stdDeviation="2"
         result="blur" />
      <feOffset
         id="feOffset4072"
         dx="4"
         dy="4"
         result="offset" />
      <feComposite
         id="feComposite4074"
         in2="offset"
         in="SourceGraphic"
         operator="over"
         result="composite2" />
    </filter>
    <filter
       id="filter4076"
       inkscape:label="Drop Shadow"
       color-interpolation-filters="sRGB">
      <feFlood
         id="feFlood4078"
         flood-opacity="0.5"
         flood-color="rgb(0,0,0)"
         result="flood" />
      <feComposite
         id="feComposite4080"
         in2="SourceGraphic"
         in="flood"
         operator="in"
         result="composite1" />
      <feGaussianBlur
         id="feGaussianBlur4082"
         stdDeviation="2"
         result="blur" />
      <feOffset
         id="feOffset4084"
         dx="4"
         dy="4"
         result="offset" />
      <feComposite
         id="feComposite4086"
         in2="offset"
         in="SourceGraphic"
         operator="over"
         result="composite2" />
    </filter>
    <filter
       id="filter4088"
       inkscape:label="Drop Shadow"
       color-interpolation-filters="sRGB">
      <feFlood
         id="feFlood4090"
         flood-opacity="0.5"
         flood-color="rgb(0,0,0)"
         result="flood" />
      <feComposite
         id="feComposite4092"
         in2="SourceGraphic"
         in="flood"
         operator="in"
         result="composite1" />
      <feGaussianBlur
         id="feGaussianBlur4094"
         stdDeviation="2"
         result="blur" />
      <feOffset
         id="feOffset4096"
         dx="4"
         dy="4"
         result="offset" />
      <feComposite
         id="feComposite4098"
         in2="offset"
         in="SourceGraphic"
         operator="over"
         result="composite2" />
    </filter>
    <filter
       id="filter4100"
       inkscape:label="Drop Shadow"
       color-interpolation-filters="sRGB">
      <feFlood
         id="feFlood4102"
         flood-opacity="0.5"
         flood-color="rgb(0,0,0)"
         result="flood" />
      <feComposite
         id="feComposite4104"
         in2="SourceGraphic"
         in="flood"
         operator="in"
         result="composite1" />
      <feGaussianBlur
         id="feGaussianBlur4106"
         stdDeviation="2"
         result="blur" />
      <feOffset
         id="feOffset4108"
         dx="4"
         dy="4"
         result="offset" />
      <feComposite
         id="feComposite4110"
         in2="offset"
         in="SourceGraphic"
         operator="over"
         result="composite2" />
    </filter>
  </defs>
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="2.2725"
     inkscape:cx="250"
     inkscape:cy="200"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="1855"
     inkscape:window-height="1056"
     inkscape:window-x="65"
     inkscape:window-y="24"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata4261">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-652.36218)">
    <path
       style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 129.75293,748.67188 c 0,0 -1.10085,40.27325 0,60.36467 0.57733,10.53668 20.84759,6.53432 20.84759,6.53432"
       id="path6144"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="csc" />
    <path
       style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 161.49105,759.56241 c 0,0 1.57056,37.66041 0.89572,60.36467 -0.26686,8.97842 -10.6972,-2.956 -10.6972,-2.956"
       id="path6144-8"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="csc" />
    <path
       style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 183.58327,744.31566 c 0,0 0.0233,40.60796 0,64.40973 -0.0131,13.43562 -31.1158,7.46779 -31.1158,7.46779"
       id="path6144-8-8"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="csc" />
    <path
       style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 235.57769,1030.1465 0,-56.76573"
       id="path4020"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cc" />
    <path
       style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 297.90979,260.94609 c 0,0 0.42986,72.17446 0,84.92849 -0.32577,9.66565 -61.60616,-25.96259 -61.60616,-25.96259"
       id="path6375"
       inkscape:connector-curvature="0"
       transform="translate(0,652.36218)"
       sodipodi:nodetypes="csc" />
    <path
       style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 344.55446,226.62266 c 0,0 0.5531,50.75778 0,76.12762 -0.46544,21.3493 -108.69087,17.60176 -108.69087,17.60176"
       id="path6377"
       inkscape:connector-curvature="0"
       transform="translate(0,652.36218)"
       sodipodi:nodetypes="csc" />
    <path
       style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 152.25523,240.70407 c 0,0 -0.32205,39.75292 0,62.48625 0.30142,21.27736 84.48844,17.16172 84.48844,17.16172"
       id="path6373"
       inkscape:connector-curvature="0"
       transform="translate(0,652.36218)"
       sodipodi:nodetypes="csc" />
    <rect
       style="fill:#e6e6e6;fill-opacity:1;stroke:#000000;stroke-width:0.59271163;stroke-linecap:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:1.77813488, 0.59271163;stroke-dashoffset:0;filter:url(#filter4100)"
       id="rect3053"
       width="299.87479"
       height="119.96602"
       x="1139.8153"
       y="1401.1903"
       ry="12.110428"
       transform="matrix(1,0,-0.74105285,0.6714467,29.248861,-81.523422)" />
    <rect
       style="fill:#e6e6e6;fill-opacity:1;stroke:#000000;stroke-width:0.43442312;stroke-linecap:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:1.3032694, 0.43442313;stroke-dashoffset:0;filter:url(#filter4064)"
       id="rect3053-6"
       width="116.49209"
       height="56.160583"
       x="956.6217"
       y="1169.3105"
       ry="8.7335997"
       transform="matrix(1,0,-0.76384979,0.64539406,57.875406,-20.536435)" />
    <path
       transform="translate(302.31985,606.69855)"
       sodipodi:type="arc"
       style="fill:#969696;fill-opacity:1;stroke:#969696;stroke-width:0.50000000000000000;stroke-linecap:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       id="path3938-0"
       sodipodi:cx="42.024204"
       sodipodi:cy="271.72717"
       sodipodi:rx="5.9405942"
       sodipodi:ry="2.4202421"
       d="m 47.964798,271.72717 a 5.9405942,2.4202421 0 1 1 -11.881188,0 5.9405942,2.4202421 0 1 1 11.881188,0 z" />
    <path
       style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 344.11441,878.98484 0,-147.41474"
       id="path6280-1"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cc" />
    <rect
       style="fill:#e6e6e6;fill-opacity:1;stroke:#000000;stroke-width:0.41798064;stroke-linecap:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:1.25394192, 0.41798063;stroke-dashoffset:0;filter:url(#filter4076)"
       id="rect3053-7"
       width="110.51381"
       height="54.917469"
       x="1065.9263"
       y="1074.411"
       ry="8.5402822"
       transform="matrix(1,0,-0.74105285,0.6714467,37.633382,-19.216303)" />
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="128.53421"
       y="831.88318"
       id="text4112"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4114"
         x="128.53421"
         y="831.88318"
         style="font-size:12px">12</tspan></text>
    <g
       id="g4242"
       style="stroke:#969696;stroke-opacity:1"
       transform="translate(57.875406,-20.536435)">
      <path
         sodipodi:nodetypes="cccc"
         transform="translate(0,652.36218)"
         inkscape:connector-curvature="0"
         id="path4116"
         d="m 35.031979,117.54394 37.1567,-0.44004 31.646991,10.0482 63.87855,-0.34891"
         style="fill:none;stroke:#969696;stroke-width:1px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1" />
      <path
         sodipodi:nodetypes="ccc"
         transform="translate(0,652.36218)"
         inkscape:connector-curvature="0"
         id="path4120"
         d="m 73.433312,116.53497 53.594688,-5.06967 52.47247,0.1289"
         style="fill:none;stroke:#969696;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    </g>
    <path
       transform="translate(141.26375,471.42971)"
       sodipodi:type="arc"
       style="fill:#969696;fill-opacity:1;stroke:#969696;stroke-width:0.50000000000000000;stroke-linecap:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       id="path3938-4"
       sodipodi:cx="42.024204"
       sodipodi:cy="271.72717"
       sodipodi:rx="5.9405942"
       sodipodi:ry="2.4202421"
       d="m 47.964798,271.72717 a 5.9405942,2.4202421 0 1 1 -11.881188,0 5.9405942,2.4202421 0 1 1 11.881188,0 z" />
    <path
       transform="translate(120.14163,486.83126)"
       sodipodi:type="arc"
       style="fill:#969696;fill-opacity:1;stroke:#969696;stroke-width:0.50000000000000000;stroke-linecap:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       id="path3938-39"
       sodipodi:cx="42.024204"
       sodipodi:cy="271.72717"
       sodipodi:rx="5.9405942"
       sodipodi:ry="2.4202421"
       d="m 47.964798,271.72717 a 5.9405942,2.4202421 0 1 1 -11.881188,0 5.9405942,2.4202421 0 1 1 11.881188,0 z" />
    <path
       transform="translate(88.018419,476.8802)"
       sodipodi:type="arc"
       style="fill:#969696;fill-opacity:1;stroke:#969696;stroke-width:0.50000000000000000;stroke-linecap:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       id="path3938-4-1"
       sodipodi:cx="42.024204"
       sodipodi:cy="271.72717"
       sodipodi:rx="5.9405942"
       sodipodi:ry="2.4202421"
       d="m 47.964798,271.72717 a 5.9405942,2.4202421 0 1 1 -11.881188,0 5.9405942,2.4202421 0 1 1 11.881188,0 z" />
    <path
       style="fill:none;stroke:#969696;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 273.66568,719.69966 69.93049,-0.0911 69.89732,0.1289"
       id="path4120-4"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="ccc" />
    <g
       id="g4246"
       style="stroke:#969696;stroke-opacity:1"
       transform="translate(9.9570588,-64.098569)">
      <path
         sodipodi:nodetypes="cccc"
         inkscape:connector-curvature="0"
         id="path4116-3"
         d="m 59.69031,958.53237 82.9816,-0.44003 145.20785,18.60046 104.66775,-0.7512"
         style="fill:none;stroke:#969696;stroke-width:1px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1" />
      <path
         sodipodi:nodetypes="ccc"
         inkscape:connector-curvature="0"
         id="path4120-0"
         d="m 142.92644,957.85344 191.52674,-15.34113 92.05321,0.12892"
         style="fill:none;stroke:#969696;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    </g>
    <path
       style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 280.66461,133.02635 c 0,0 -0.62382,17.23448 0,28.62655 0.41035,7.49363 17.42485,4.97852 17.42485,4.97852"
       id="path6379"
       inkscape:connector-curvature="0"
       transform="translate(0,652.36218)"
       sodipodi:nodetypes="csc" />
    <path
       style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 318.31474,132.71519 c 0,0 -0.44308,17.95215 -0.93348,29.24887 -0.23391,5.38852 -18.35833,4.04505 -18.35833,4.04505"
       id="path6381"
       inkscape:connector-curvature="0"
       transform="translate(0,652.36218)"
       sodipodi:nodetypes="csc" />
    <g
       id="g6300"
       transform="translate(20.682068,-3.0803081)">
      <rect
         transform="matrix(1,0,-0.74105285,0.6714467,57.875406,-20.536435)"
         ry="8.3974762"
         y="1180.5095"
         x="1064.9176"
         height="53.999172"
         width="108.66586"
         id="rect3053-6-3"
         style="fill:#e6e6e6;fill-opacity:1;stroke:#000000;stroke-width:0.4109914;stroke-linecap:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:1.2329742, 0.4109914;stroke-dashoffset:0;filter:url(#filter4088)" />
      <path
         sodipodi:nodetypes="cccc"
         inkscape:connector-curvature="0"
         id="path4116-6"
         d="m 216.08367,788.17197 44.63744,0.22003 35.6074,-0.29284 57.71793,0.0911"
         style="fill:none;stroke:#969696;stroke-width:1px;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1" />
      <path
         d="m 47.964798,271.72717 c 0,1.33667 -2.659694,2.42024 -5.940594,2.42024 -3.280899,0 -5.940594,-1.08357 -5.940594,-2.42024 0,-1.33666 2.659695,-2.42024 5.940594,-2.42024 3.2809,0 5.940594,1.08358 5.940594,2.42024 z"
         sodipodi:ry="2.4202421"
         sodipodi:rx="5.9405942"
         sodipodi:cy="271.72717"
         sodipodi:cx="42.024204"
         id="path3938-3"
         style="fill:#969696;fill-opacity:1;stroke:#969696;stroke-width:0.5;stroke-linecap:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
         sodipodi:type="arc"
         transform="translate(218.27146,516.09417)" />
      <path
         d="m 47.964798,271.72717 c 0,1.33667 -2.659694,2.42024 -5.940594,2.42024 -3.280899,0 -5.940594,-1.08357 -5.940594,-2.42024 0,-1.33666 2.659695,-2.42024 5.940594,-2.42024 3.2809,0 5.940594,1.08358 5.940594,2.42024 z"
         sodipodi:ry="2.4202421"
         sodipodi:rx="5.9405942"
         sodipodi:cy="271.72717"
         sodipodi:cx="42.024204"
         id="path3938-3-3"
         style="fill:#969696;fill-opacity:1;stroke:#969696;stroke-width:0.5;stroke-linecap:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
         sodipodi:type="arc"
         transform="translate(255.29005,516.39512)" />
    </g>
    <path
       transform="translate(301.87982,448.10737)"
       sodipodi:type="arc"
       style="fill:#969696;fill-opacity:1;stroke:#969696;stroke-width:0.5;stroke-linecap:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       id="path3938-2"
       sodipodi:cx="42.024204"
       sodipodi:cy="271.72717"
       sodipodi:rx="5.9405942"
       sodipodi:ry="2.4202421"
       d="m 47.964798,271.72717 a 5.9405942,2.4202421 0 1 1 -11.881188,0 5.9405942,2.4202421 0 1 1 11.881188,0 z" />
    <path
       transform="translate(110.37822,622.05587)"
       sodipodi:type="arc"
       style="fill:#969696;fill-opacity:1;stroke:#969696;stroke-width:0.50000000000000000;stroke-linecap:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       id="path3938-7"
       sodipodi:cx="42.024204"
       sodipodi:cy="271.72717"
       sodipodi:rx="5.9405942"
       sodipodi:ry="2.4202421"
       d="m 47.964798,271.72717 a 5.9405942,2.4202421 0 1 1 -11.881188,0 5.9405942,2.4202421 0 1 1 11.881188,0 z" />
    <path
       sodipodi:type="arc"
       style="fill:#969696;fill-opacity:1;stroke:#969696;stroke-width:0.50000000000000000;stroke-linecap:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       id="path3938"
       sodipodi:cx="42.024204"
       sodipodi:cy="271.72717"
       sodipodi:rx="5.9405942"
       sodipodi:ry="2.4202421"
       d="m 47.964798,271.72717 a 5.9405942,2.4202421 0 1 1 -11.881188,0 5.9405942,2.4202421 0 1 1 11.881188,0 z"
       transform="translate(256.07747,640.67307)" />
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="221.60104"
       y="988.90668"
       id="text4112-4"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4114-2"
         x="221.60104"
         y="988.90668"
         style="font-size:12px">6</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="309.53973"
       y="831.69507"
       id="text4112-4-0"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4114-2-2"
         x="309.53973"
         y="831.69507"
         style="font-size:12px">4</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:40px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
       x="353.98416"
       y="756.00751"
       id="text4112-4-0-7"
       sodipodi:linespacing="125%"><tspan
         sodipodi:role="line"
         id="tspan4114-2-2-8"
         x="353.98416"
         y="756.00751"
         style="font-size:12px">7</tspan></text>
    <path
       sodipodi:type="arc"
       style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.5;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="path6184"
       sodipodi:cx="76.856049"
       sodipodi:cy="159.47479"
       sodipodi:rx="4.0450554"
       sodipodi:ry="4.0450554"
       d="m 80.901104,159.47479 a 4.0450554,4.0450554 0 1 1 -8.090111,0 4.0450554,4.0450554 0 1 1 8.090111,0 z"
       transform="translate(74.989102,657.3407)" />
    <path
       style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 129.44177,95.998537 0,-29.248862"
       id="path6186"
       inkscape:connector-curvature="0"
       transform="translate(0,652.36218)" />
    <path
       style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 183.27212,743.07103 0,-29.24886"
       id="path6186-3"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 162.11337,759.25125 0,-29.24886"
       id="path6186-3-5"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 152.15631,163.51984 0,77.12679"
       id="path6224"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cc"
       transform="translate(0,652.36218)" />
    <path
       sodipodi:type="arc"
       style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.5;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="path6184-0"
       sodipodi:cx="76.856049"
       sodipodi:cy="159.47479"
       sodipodi:rx="4.0450554"
       sodipodi:ry="4.0450554"
       d="m 80.901104,159.47479 a 4.0450554,4.0450554 0 1 1 -8.090111,0 4.0450554,4.0450554 0 1 1 8.090111,0 z"
       transform="translate(220.939,658.9682)" />
    <path
       sodipodi:type="arc"
       style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.5;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="path6184-0-8"
       sodipodi:cx="76.856049"
       sodipodi:cy="159.47479"
       sodipodi:rx="4.0450554"
       sodipodi:ry="4.0450554"
       d="m 80.901104,159.47479 a 4.0450554,4.0450554 0 1 1 -8.090111,0 4.0450554,4.0450554 0 1 1 8.090111,0 z"
       transform="translate(159.09783,812.62155)" />
    <path
       sodipodi:type="arc"
       style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:2.5;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0"
       id="path6184-0-2"
       sodipodi:cx="76.856049"
       sodipodi:cy="159.47479"
       sodipodi:rx="4.0450554"
       sodipodi:ry="4.0450554"
       d="m 80.901104,159.47479 a 4.0450554,4.0450554 0 1 1 -8.090111,0 4.0450554,4.0450554 0 1 1 8.090111,0 z"
       transform="translate(267.25836,594.53755)" />
    <path
       style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 343.67437,719.68891 0,-26.40264"
       id="path6280"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 297.9098,912.42818 0,-93.72937"
       id="path6280-1-8"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cc" />
    <path
       style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 280.74808,784.81542 0,-26.40264"
       id="path6280-5"
       inkscape:connector-curvature="0" />
    <path
       style="fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"
       d="m 318.15182,785.25547 0,-26.40264"
       id="path6280-6"
       inkscape:connector-curvature="0" />
  </g>
</svg>
