@()

@import play.api.Play

@main("CodeBuilder") {

  <div class="main">
    <div class="ui four column grid">

      <div class="ui container">
	<div id="panes"></div>
      </div>
      
      <div class="centered row">
	<div class="ui primary buttons">
	  <div class="ui floating dropdown icon button">
	    <i class="dropdown icon"></i>
	    <div class="menu">
	      <div id="new-designblock" class="item">DesignBlock</div>
	      <div id="new-codeblock" class="item">CodeBlock</div>
	    </div>
	  </div>
	  <div id="new-btn" class="ui button">New</div>
	</div>
      </div>

    </div>
  </div>

  <div class="ui modal small">
    <div class="header">New Variable</div>
    <div class="ui basic segment center aligned">
      <div class="ui input">
	<input id="id-input" type="text" name="first-name" placeholder="Identifier">
      </div>
    </div>
    <div class="actions">
      <div class="ui positive right labeled icon button">
	Great!
	<i class="checkmark icon"></i>
      </div>      
    </div>
  </div>

  <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("codemirror.css"))'>
  <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("codemirror.js"))'></script>

  @if(Play.isProd(Play.current)) {
  <script src='@routes.Assets.at("opetopiccodebuilder-opt.js")' type="text/javascript"></script>
  } else {
  <script src='@routes.Assets.at("opetopiccodebuilder-fastopt.js")' type="text/javascript"></script>
  }

  <script src='@routes.Assets.at("opetopiccodebuilder-launcher.js")' type="text/javascript"></script>

}
