@import org.webjars.play.WebJarsUtil

@(isDev: Boolean)(implicit userOpt: Option[User], webJarsUtil: WebJarsUtil)

@import play.api.Play

@main("ColorEdit") {

  <style>
    .article { padding-top: 60px }
  </style>

  <div class="article">

    <div class="ui centered grid">
      <div class="twelve wide column">
	<h3 class="ui dividing header">ColorEdit</h3>
	<div id="editor-div"></div>
      </div>
    </div>

  </div>

  @if(isDev) {
    <script src='@routes.Assets.at("opetopiccoloredit-fastopt.js")' type="text/javascript"></script>
  } else {
    <script src='@routes.Assets.at("opetopiccoloredit-opt.js")' type="text/javascript"></script>
  }

  <script src='@routes.Assets.at("opetopiccoloredit-launcher.js")' type="text/javascript"></script>

}
