@import org.webjars.play.WebJarsUtil
@import play.api.Play

@(isDev: Boolean)(implicit userOpt: Option[User], webJarsUtil: WebJarsUtil)

@main("Editor") {

  <div class="ui basic pushable segment" style="margin-bottom: 0px">
  
    <div class="ui left vertical visible inverted sidebar menu" id="editor-left-sidebar">
      <div class="item">
	<div class="ui input">
	  <input type="text" id="label-input" placeholder="Label ..."></input>
	</div>
      </div>
    </div>

    <div class="ui right inverted visible labeled inline vertical sidebar icon menu">
      <a class="item">
	<i class="pencil icon"></i>
	Create
      </a>
      <a class="item">
	<i class="paint brush icon"></i>
	Color
      </a>
      <a class="item">
	<i class="adjust icon"></i>
	Tensor
      </a>
    </div>
    
    <div class="pusher">
      <div id="editor-div" style="margin-left:260px; margin-right:84px; height: 100%;">
      </div>
    </div>
  </div>

  @if(isDev) {
    <script src='@routes.Assets.at("opetopiceditor-fastopt.js")' type="text/javascript"></script>
  } else {
    <script src='@routes.Assets.at("opetopiceditor-opt.js")' type="text/javascript"></script>
  }

}




