@()
<!DOCTYPE html>
<html lang="en" ng-app="opetopic" data-framework="angularjs">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Opetopic">
    <meta name="author" content="Eric Finster">

    <title>Opetopic</title>

    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("webix.css"))'>

    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("webix.js"))'></script>
    <script type='text/javascript' src='@routes.Assets.at("js/opetopic-ix.js")'></script>

  </head>

  <body>

    <script type="text/javascript" charset="utf-8">
      webix.ready(function() {
        webix.ui(ui_scheme);
      });
    </script>

  </body>

  <script src="@routes.Assets.at("opetopicjs-fastopt.js")"></script>
  <script src="@routes.Assets.at("opetopicjs-launcher.js")"></script>



</html>

