@import org.webjars.play.WebJarsUtil

@()(implicit userOpt: Option[User], webJarsUtil: WebJarsUtil)

@greeting(uOpt: Option[User]) = @{
  (for {
    u <- uOpt
    fn <- u.firstName
  } yield { "Welcome to Opetopic, " + fn + "!" }).getOrElse({
    "Welcome to Opetopic!"
  })
}

@main("Home") {
	  
  <div class="main">
    <div class="ui container" style="margin-top: 60px;">

      <div class="ui inverted grey raised segment">

	<h2 class="ui dividing header">@greeting(userOpt)</h2>

	<div class="ui center aligned inverted grey segment">
	  @svgs.unitright()
	</div>

	<div class="ui bottom attach center aligned inverted grey segment">
	  <a class = "ui green button" href="/studio">Launch the Studio!</a>
	</div>
      </div>

    </div>
  </div>

}
