@import org.webjars.play.WebJarsUtil

@()(implicit userOpt: Option[User], webJarsUtil: WebJarsUtil)

@greeting(uOpt: Option[User]) = @{
  (for {
    u <- uOpt
    fn <- u.firstName
  } yield { "Welcome to Opetopic, " + fn + "!" }).getOrElse({
    "Welcome to Opetopic!"
  })
}

@main("Home") {
	  
  <div class="main">
    <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui text container">
      <h1 class="ui inverted header" style="margin-top: 2em; font-size:4em;">Opetopic</h1>
      <h2 style="margin-bottom: 2em;">An editor for opetopic shapes</h2>
      <a href="/studio" class="ui huge green button">Launch the Editor</a>
      <a href="/docs/intro" class="ui huge green button">Read the Docs</a>
    </div>
    
    </div>
  </div>

}
