@import org.webjars.play.WebJarsUtil
@import play.api.Play

@(isDev: Boolean)(implicit request: RequestHeader, userOpt: Option[User], webJarsUtil: WebJarsUtil)

@main("Lambda") {

  <div class="ui basic pushable segment" style="margin-bottom: 0px">
    
    <div class="ui left vertical visible inverted sidebar accordion menu" id="editor-left-sidebar">
    </div>

    <div class="ui right inverted visible labeled inline vertical sidebar icon menu">
      <a class="active item" data-tab="editor-tab" id="editor-link">
	<i class="pencil icon"></i>
	Edit
      </a>
      <a class="item" data-tab="inspector-tab" id="inspector-link">
	<i class="eye icon"></i>
	Inspect
      </a>
    </div>
    
    <div class="pusher">
      <div id="editor-div" style="margin-left:260px; margin-right:84px; height: 100%;">
      </div>
    </div>
    
  </div>

  @if(isDev) {
    <script src='@routes.Assets.at("opetopiclambda-fastopt.js")' type="text/javascript"></script>
  } else {
    <script src='@routes.Assets.at("opetopiclambda-opt.js")' type="text/javascript"></script>
  }

}




