@(subnav: String)(content: Html)(implicit userOpt: Option[User])

@import play.api.Play

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Opetopic">
    <meta name="author" content="Eric Finster">

    <title>Opetopic - @subnav</title>

    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/opetopic.css")'>

    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("semantic.js"))'></script>

  </head>

  <body>

    <div class="ui fixed inverted menu">
      <div class="header item">Opetopic</div>
      <a class="item" href="/">Home</a>
      <div class="ui dropdown item" id="main-dropdown">
	Tools
	<i class="dropdown icon"></i>
	<div class="menu">
	  <a class="item" href="/sketchpad">SketchPad</a>
	  <a class="item" href="/prover">Prover</a>
	  <a class="item" href="/stable">Stable Editor</a>
	</div>
      </div>
      <a class="item" href="/docs">Documentation</a>
      <div class="right menu">
	@userOpt match {
	  case None => { <a class="item" href="/signIn" id="login-btn">Log In</a> }
	  case Some(user) => { <a class="item" href="/signOut" id="logout-btn">Log Out</a> }
	}
      </div>
    </div>

    <div class="content">
      @content
    </div>

  </body>

  <script type="text/javascript">
    $("#main-dropdown").dropdown()
  </script>

</html>

