@import org.webjars.play.WebJarsUtil

@(subnav: String)(content: Html)(implicit userOpt: Option[User], webJarsUtil: WebJarsUtil)

@import play.api.Play

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Opetopic">
    <meta name="author" content="Eric Finster">

    <title>Opetopic - @subnav</title>

    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/opetopic.css")'>

    @webJarsUtil.locate("jquery.js").script()
    @webJarsUtil.locate("semantic.js").script()

  </head>

  <body>
    
    <div class="ui fixed inverted menu" id="opetopic-menubar">
      <div class="header item">
	<i class="sidebar icon"></i>
	Opetopic
      </div>
      <!-- <a class="item" href="/">Home</a> -->
      <!-- <div class="ui dropdown item" id="main-dropdown"> -->
	<!-- 	Tools -->
	<!-- 	<i class="dropdown icon"></i> -->
	<!-- 	<div class="menu"> -->
	  <!-- 	  <a class="item" href="/sketchpad">SketchPad</a> -->
	  <!-- 	  <a class="item" href="/multiedit">MultiEdit</a> -->
	  <!-- 	  <a class="item" href="/coloredit">ColorEdit</a> -->
	  <!-- 	  <a class="item" href="/addrexplorer">AddrExplorer</a> -->
	  <!-- 	  <a class="item" href="/prover">Prover</a> -->
	  <!-- 	  <a class="item" href="/mtt">Mtt</a> -->
	  <!-- 	</div> -->
	<!-- </div> -->
      <!-- <a class="item" href="/docs">Documentation</a> -->
      <div class="right menu">
	@userOpt match {
	case None => { <a class="item" href="/signIn" id="login-btn">Log In</a> }
	case Some(user) => { <a class="item" href="/signOut" id="logout-btn">Log Out</a> }
	}
      </div>
    </div>
    
    <div class="content">
      @content
    </div>
    
  </body>

  <style>
    .content { padding-top: 40px; }
  </style>
  
  <!-- <script type="text/javascript"> -->
  <!--   $("#main-dropdown").dropdown() -->
  <!--   $("#opetopic-sidebar").sidebar('attach events', '#sidebar-toggle') -->
  <!-- </script> -->

</html>

