@import org.webjars.play.WebJarsUtil

@(isDev: Boolean)(implicit userOpt: Option[User], webJarsUtil: WebJarsUtil)

@main("MultiEdit") {

  <div>

    <div class="ui centered grid">
      <div class="twelve wide column">
	<h3 class="ui dividing header">MultiEdit</h3>
	<div id="editor-div"></div>
      </div>
    </div>

  </div>

  @if(isDev) {
  <script src='@routes.Assets.at("opetopicmultiedit-fastopt.js")' type="text/javascript"></script>
  } else {
  <script src='@routes.Assets.at("opetopicmultiedit-opt.js")' type="text/javascript"></script>
  }

  <script src='@routes.Assets.at("opetopicmultiedit-launcher.js")' type="text/javascript"></script>

}
