@()

@import play.api.Play

@main("Prover", "prover") {

  <div class="main">

    <div class="article">
      <div id="panes">

	<div class="ui active tab" data-tab="module-tab">

	  <h3 class="ui dividing header">Global Environment</h3>

	  <div class="ui fluid styled accordion" id="defn-list"></div>

	</div>

	<div class="ui tab" data-tab="definition-tab" id="defn-tab"></div>

	<h3 class="ui dividing header">Messages</h3>

	<div id="msg-box"></div>

	<div class="ui inverted bottom fixed menu">
	  <a class="active item" data-tab="module-tab">Module</a>
	  <a class="item" data-tab="definition-tab">Definition</a>
	  <div class="item">
	    <button type="button" class="ui button" id="new-defn-btn">New Definition</button>
	  </div>
	</div>

      </div>
    </div>

  </div>

}
