@()

@import play.api.Play

@main("Prover") {

  <div class="main">

    <div class="article">
      <div id="panes">

	<div class="ui tab" data-tab="module">

	  <div class="ui dividing header">
	    <h3>Global Environment</h3>
	  </div>

	  <div class="ui fluid styled accordion">
	    <div class="title">
	      <i class="dropdown icon"></i>
	      isLeftExtension
	    </div>
	    <div class="content">
	      <p class="transition hidden">Right, what exactly is a left extension?</p>
	    </div>
	    <div class="title">
	      <i class="dropdown icon"></i>
	      isLeftAdjoint
	    </div>
	    <div class="content">
	      <p class="transition hidden">A left adjoint is a right lift preserved by all compositions.</p>
	    </div>
	    <div class="title">
	      <i class="dropdown icon"></i>
	      isRightAdjoint
	    </div>
	    <div class="content">
	      <p class="transition hidden">The same for a right adjoint</p>
	      <p class="transition hidden">Except for a right adjoint, things are different.</p>
	    </div>
	  </div>
	</div>

	<div class="ui active tab" data-tab="definition">

	  <div class="ui grid">
	    <div class="three wide column">

	      <div class="ui dividing header">
		<h3>Context</h3>
	      </div>

	      <div class="ui fluid styled accordion" id="context-pane">
	      </div>

	    </div>

	    <div class="ten wide column">

	      <div class="ui dividing header">
		<h3>Editor</h3>
	      </div>

	      <div class="ui top attached menu">
		<a class="item">Shape<i class="dropdown icon"></i></a>
	      </div>

	      <div class="ui middle attached nofocus segment" id="tab-pane" tabIndex="0"></div>

	      <div class="ui bottom attached segment">
		<div class="ui grid">
		  <div class="fourteen wide column">
		    <div class="ui pagination menu" id="tab-pager"></div>
		  </div>
		  <div class="two wide right aligned column">
		    <button id="new-editor" class="ui icon button">
		      <i class="add icon"></i>
		    </button>
		  </div>
		</div>
	      </div>

	      <div class="ui dividing header">
		<h3>Action</h3>
	      </div>

	      <div class="ui grid">
		<div class="four wide column">
		  <div class="ui vertical fluid pointing menu">
		    <a class="active item" data-tab="assume-tab">Assume</a>
		    <a class="item" data-tab="compose-tab">Compose</a>
		    <a class="item" data-tab="lift-tab">Lift</a>
		    <a class="item" data-tab="export-tab">Export</a>
		  </div>
		</div>

		<div class="twelve wide stretched column">
		  <div class="ui segment">

		    <div class="ui active tab" data-tab="assume-tab">
		      <form id="assume-form" class="ui form">
			<div class="ui grid">

			  <div class="eight wide column">
			    <div class="field">
			      <label>Assume Variable:</label>
			      <input id="assume-id-input" type="text" placeholder="Identifier"></input>
			    </div>

			    <div class="field">
			      <div class="ui checkbox">
				<input type="checkbox" tabIndex="0" class="hidden"></input>
				<label>Left Extension</label>
			      </div>
			    </div>

			    <div class="field">
			      <div class="ui checkbox">
				<input type="checkbox" tabIndex="0" class="hidden"></input>
				<label>Right Extension</label>
			      </div>
			    </div>
			  </div>

			  <div class="eight wide column">
			  </div>
			  
			</div>
		      </form>
		    </div>

		    <div class="ui tab" data-tab="compose-tab">
		      <form id="compose-form" class="ui form">
			<div class="ui grid">

			  <div class="eight wide column">
			    <div class="field">
			      <label>Composite:</label>
			      <input id="comp-id-input" type="text" placeholder="Identifier"></input>
			    </div>

			    <div class="field">
			      <label>Filler:</label>
			      <input id="filler-id-input" type="text" placeholder="Identifier"></input>
			    </div>
			  </div>

			  <div class="eight wide column">
			    <div class="field">
			      <label>Property:</label>
			      <input id="prop-id-input" type="text" placeholder="Identifier"></input>
			    </div>

			    <button type="submit" class="ui green button">Go!</button>

			  </div>
			  
			</div>
		      </form>
		    </div>

		    <div class="ui tab" data-tab="lift-tab">
		      <p>This is the lift tab.</p>
		    </div>

		    <div class="ui tab" data-tab="export-tab">
		      <p>This is the export tab.</p>
		    </div>

		  </div>
		</div>

	      </div>

	    </div>

	    <div class="three wide column">

	      <div class="ui dividing header">
		<h3>Environment</h3>
	      </div>

	      <div class="ui fluid styled accordion">
		<div class="title">
		  <i class="dropdown icon"></i>
		  x
		</div>
		<div class="content">
		  <p class="transition hidden">Some cell info...</p>
		</div>
		<div class="title">
		  <i class="dropdown icon"></i>
		  y
		</div>
		<div class="content">
		  <p class="transition hidden">Some cell info...</p>
		</div>
		<div class="title">
		  <i class="dropdown icon"></i>
		  z
		</div>
		<div class="content">
		  <p class="transition hidden">A left adjoint is a right lift preserved by all compositions.</p>
		</div>
	      </div>

	    </div>
	  </div>

	</div>

	<div class="ui dividing header">
	  <h3>Messages</h3>
	</div>

	<div id="msg-box"></div>

	<div class="ui inverted bottom fixed menu">
	  <a class="item" data-tab="module">Module</a>
	  <a class="active item" data-tab="definition">Definition</a>
	</div>

      </div>
    </div>

  </div>

  <!-- <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("codemirror.css"))'> -->
  <!-- <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("codemirror.js"))'></script> -->

  @if(Play.isProd(Play.current)) {
  <script src='@routes.Assets.at("opetopicprover-opt.js")' type="text/javascript"></script>
  } else {
  <script src='@routes.Assets.at("opetopicprover-fastopt.js")' type="text/javascript"></script>
  }

  <script src='@routes.Assets.at("opetopicprover-launcher.js")' type="text/javascript"></script>

}
