@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@import forms.SignInForm.Data

@(signInForm: Form[Data], socialProviders: SocialProviderRegistry)(implicit userOpt: Option[User], webJarsUtil: WebJarsUtil, request: RequestHeader, messages: Messages)

@import semantic.semantic._

@main("Sign In") {

  <div class="ui container" style="padding-top: 60px">
    <div class="ui grid">
      <div class="two wide column"></div>
      <div class="twelve wide column">

	<div class="ui segment">
	  <h3 class="ui dividing header">Sign In</h3>

	  @helper.form(action = routes.SignInController.submit(), args = 'class -> "ui form") {
	  
          @helper.CSRF.formField
          @helper.inputText(signInForm("email"), '_label -> "Email")
          @helper.inputPassword(signInForm("password"), '_label -> "Password")

          <p>
	    Don't have an account?  You can sign up <a href="/signUp">here</a>.
	  </p>

          <button id="submit" type="submit" value="submit" class="ui green button">Sign In!</button>

	  }

	</div>

      </div>
      <div class="two wide column"></div>
    </div>
  </div>

}
