@(signUpForm: Form[forms.SignUpForm.Data])(implicit request: RequestHeader, messages: Messages)

@main("Signup") {

  <div class="ui container">
    <div class="ui segment">
      <h3 class="ui dividing header">Sign Up</h3>

      @helper.form(action = routes.SignUpController.signUp()) {
      
        @helper.CSRF.formField
        @helper.inputText(signUpForm("firstName"))
        @helper.inputText(signUpForm("lastName"))
        @helper.inputText(signUpForm("email"))
        @helper.inputPassword(signUpForm("password"))

        <div class="form-group">
          <div>
	    <button id="submit" type="submit" value="submit" class="ui green button">Sign Up!</button>
          </div>
	</div>

      }

    </div>
  </div>

}
