@(signUpForm: Form[forms.SignUpForm.Data])(implicit request: RequestHeader, messages: Messages, userOpt: Option[User])

@import semantic.semantic._

@main("Signup") {

  <div class="ui container" style="padding-top: 60px">
    <div class="ui grid">
      <div class="two wide column"></div>
      <div class="twelve wide column">

	<div class="ui segment">
	  <h3 class="ui dividing header">Sign Up</h3>

	  @helper.form(action = routes.SignUpController.signUp(), args = 'class -> "ui form") {
	  
          @helper.CSRF.formField
          @helper.inputText(signUpForm("firstName"), '_label -> "First Name")
          @helper.inputText(signUpForm("lastName"), '_label -> "Last Name")
          @helper.inputText(signUpForm("email"), '_label -> "Email")
          @helper.inputPassword(signUpForm("password"), '_label -> "Password")

          <button id="submit" type="submit" value="submit" class="ui green button">Sign Up!</button>

	  }

	</div>

      </div>
      <div class="two wide column"></div>
    </div>
  </div>

}
