@()(implicit request: RequestHeader, userOpt: Option[User])

@import play.api.Play

@main("Stable Editor") {

  <div>

    <div class="ui centered grid">

      <div class="ten wide column" style="min-width: 300px">
	
	<h3 class="ui dividing header">Editor</h3>
	<div class="ui segment" id="editor-div"></div>

	<h3 class="ui dividing header">Main Viewer</h3>
	<div class="ui segment" id="main-viewer-div"></div>

	<h3 class="ui dividing header">Face Viewer</h3>
	<div class="ui segment" id="face-viewer-div"></div>

      </div>

    </div>

  </div>

  <!-- Main Opetopic Application Script -->

  @if(Play.isProd(Play.current)) {
    <script src='@routes.Assets.at("opetopicjs-opt.js")' type="text/javascript"></script>
  } else {
    <script src='@routes.Assets.at("opetopicjs-fastopt.js")' type="text/javascript"></script>
  }

  <script src='@routes.Assets.at("opetopicjs-launcher.js")' type="text/javascript"></script>

}
