@import org.webjars.play.WebJarsUtil
@import play.api.Play
@import models.Sketch

@(renderForm: Form[forms.RenderSketchForm.Data], sketches: Seq[Sketch], isDev: Boolean)(implicit request: RequestHeader, userOpt: Option[User], webJarsUtil: WebJarsUtil)

@main("Studio") {

  <div class="ui basic pushable segment" style="margin-bottom: 0px">
    
    <div class="ui left vertical visible inverted sidebar accordion menu" id="editor-left-sidebar">
      @if(userOpt.isDefined) {
        @for(s <- sketches) {
          <div class="item">
	    <a class="title"><i class="dropdown icon"></i>@s.name</a>
	    <div class="content" data-name="@s.name" data-id="@s.sketchId.toString" data-loaded="false"></div>
	  </div>
	}
      } 
    </div>

    <div class="ui right inverted visible labeled inline vertical sidebar icon menu">
      <a class="active item" data-tab="editor-tab" id="editor-link">
	<i class="pencil icon"></i>
	Edit
      </a>
      <a class="item" data-tab="inspector-tab" id="inspector-link">
	<i class="eye icon"></i>
	Inspect
      </a>
      <a class="item" data-tab="color-tab" id="color-link">
	<i class="paint brush icon"></i>
	Color
      </a>
    </div>
    
    <div class="pusher">
      <div id="editor-div" style="margin-left:260px; margin-right:84px; height: 100%;">
      </div>
    </div>
    
  </div>

  <form id="render-request-form" action="/renderSketch" method="post" target="_blank">
    @helper.CSRF.formField
    <input id="sketch-file" type="hidden" name="fileName" value="sketch.svg">
    <input id="render-data" type="hidden" name="renderData" value="default">
    <input id="sizing-mthd" type="hidden" name="sizingMethod" value="default">
  </form>

  @if(isDev) {
    <script src='@routes.Assets.at("opetopicstudio-fastopt.js")' type="text/javascript"></script>
  } else {
    <script src='@routes.Assets.at("opetopicstudio-opt.js")' type="text/javascript"></script>
  }

}




