@(content: Html)

@import play.api.Play

@main("Tutorial", "tutorial") {

  <style>
    p {
      font-size: 16px;
    }
  </style>

  <div class="main">
    <div class="article">
      <div id="panes">

	<div class="ui grid">

	  <div class="two wide column"></div>
	  
	  <div class="twelve wide column">
	    <div class="ui top attached raised segment" style="min-height: 800px">
	      @content
	    </div>
	    <div class="ui bottom attached raised right aligned segment">
	      <button type="button" id="prev-btn" class="ui right labeled blue icon button">Prev<i class="triangle left icon"></i></button>
	      <button type="button" id="next-btn" class="ui right labeled blue icon button">Next<i class="triangle right icon"></i></button>
	    </div>
	  </div>

	  <div class="two wide column"></div>

	</div>

      </div>
    </div>
  </div>

  @if(Play.isProd(Play.current)) {
  <script src='@routes.Assets.at("opetopictutorial-opt.js")' type="text/javascript"></script>
  } else {
  <script src='@routes.Assets.at("opetopictutorial-fastopt.js")' type="text/javascript"></script>
  }

  <script src='@routes.Assets.at("opetopictutorial-launcher.js")' type="text/javascript"></script>

}
