/* Import all components */
@import 'semantic/semantic';

.main { 
  padding-top: 40px;
  display: flex;
}

.main > .toc {
  flex: 0 0 auto;
}

.main > .article {
  flex: 1 1 auto;
}

#panes {
  padding: 20px;
}

.CodeMirror {
  border-color: lightgrey;
  border-style: solid;
  border-width: 1px;
}

.blorp { }