/* Import all components */
@import 'semantic/semantic';

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nofocus:focus {
  border: none;
  outline: none;
}

.nothing { }  




